h1 {
  font-size: 2em;
}
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  flex-direction: row;
  width: 80%;
  height: 100%;
  background: #1d1d1d;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.rightside-login {
  width: 50%;
  float: right;
}
.leftside-login {
  width: 50%;
  font-size: 1em;
  float: left;
}
.image-container {
  display: flex;
  margin-right: 0px;
  background-image: url("../../assets/right-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  height: 700px;
  border-radius: 0px 10px 10px 0px;
}
.login-content {
  margin-left: 10%;
  flex-direction: column;
}
.recolude-logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}

.logo {
  display: flex;
  width: 8em;
  height: 8em;
}
.login-statement {
  font-family: Lato;
  font-weight: 500;
  font-size: 1em;
  line-height: 0.5em;
}
.input {
  background: #242424;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 10px;
  width: 80%;
  height: 4vh;
  color: white;
  font-size: 1em;
  padding-left: 2%;
}
.input:focus {
  outline: none;
}
.remember-checkbox {
  display: block;
  line-height: 2.5em;
}
::ng-deep .mat-checkbox-background,
.mat-checkbox-frame {
  border: 1px solid white;
  background-color: #242424;
}
::ng-deep .mat-checkbox-checkmark-path {
  stroke: white;
}
::ng-deep .mat-checkbox-background:checked {
  background-color: blue;
}
.forgot-password {
  display: flex;
  align-items: center;
  a {
    padding: 2%;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-right: 20%;
  padding: 2%;
}
.sign-in-button {
  width: 5em;
  height: 5vh;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  background-color: #20a6ff;
  box-shadow: inset 0px 0px 4px #194ba8;
}
.create-account {
  text-align: center;
  margin-right: 10%;
  margin-top: 2%;
}
.reset-container {
  flex-direction: column;
  float: center;
  width: 160%;
  height: 32vh;
  background: #1d1d1d;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-left: -25%;
  padding-bottom: 5%;
}
.reset-header {
  font-size: 2em;
  padding-top: 10%;
  margin-left: 0px;
}

.reset-username-input {
  margin-top: 5%;
  margin-left: 8%;
  padding-bottom: 10%;
}
.code-button-container {
  float: right;
  text-align: right;
  margin-right: 10%;
}
.send-code-button {
  width: 7em;
  height: 5vh;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  background-color: #20a6ff;
  box-shadow: inset 0px 0px 4px #194ba8;
}
.back-to-login {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

@media only screen and (max-width: 1024px) {
  .login {
    width: 90%;
    height: 85%;
  }
  .image-container {
    width: 45vw;
    height: 800px;
  }
  .logo {
    height: 7em;
    width: 7em;
  }
  .login-content {
    margin-left: 7%;
  }
  .sign-in-button {
    width: 5em;
  }
  .create-account {
    margin-right: 15%;
    margin-top: 10%;
  }
  .reset-container {
    width: 175%;
    height: 40vh;
    margin-left: -35%;
  }
  .reset-header {
    font-size: 2em;
    padding-top: 10%;
    margin-left: 0px;
  }
  .reset-username-input {
    margin-top: 5%;
  }
  .code-button-container {
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .back-to-login {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 1007px) {
  .login {
    width: 90%;
    height: 85%;
  }
  .image-container {
    width: 45vw;
    height: 780px;
  }
  .logo {
    height: 7em;
    width: 7em;
  }
  .login-content {
    margin-left: 7%;
  }
  .sign-in-button {
    width: 5em;
  }
  .create-account {
    margin-right: 15%;
    margin-top: 10%;
  }
  .reset-container {
    width: 175%;
    height: 40vh;
    margin-left: -35%;
  }
  .reset-header {
    font-size: 2em;
    padding-top: 10%;
    margin-left: 0px;
  }
  .reset-username-input {
    margin-top: 5%;
  }
  .code-button-container {
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .back-to-login {
    margin-left: 10%;
  }
}
// /* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (max-width: 801px) {
  .login {
    width: 90%;
    height: 85%;
  }
  .image-container {
    width: 45vw;
    height: 780px;
  }
  .logo {
    height: 7em;
    width: 7em;
  }
  .login-content {
    margin-left: 7%;
  }
  .sign-in-button {
    width: 5em;
  }
  .forgot-password {
    display: block;
  }
  .create-account {
    margin-right: 15%;
    margin-top: 10%;
  }
  .reset-container {
    width: 185%;
    height: 40vh;
    margin-left: -45%;
  }
  .reset-header {
    font-size: 2em;
    padding-top: 10%;
    margin-left: 0px;
  }
  .reset-username-input {
    margin-top: 5%;
  }
  .code-button-container {
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .back-to-login {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .login {
    width: 90%;
    height: 85%;
  }
  .image-container {
    width: 45vw;
    min-height: max-content;
  }
  .logo {
    height: 6em;
    width: 6em;
  }
  .login-content {
    margin-left: 7%;
  }
  .sign-in-button {
    width: 5em;
  }
  .create-account {
    margin-right: 15%;
    margin-top: 10%;
  }
  .reset-container {
    width: 185%;
    height: 40vh;
    margin-left: -40%;
  }
  .reset-header {
    font-size: 2em;
    padding-top: 10%;
    margin-left: 0px;
  }
  .reset-username-input {
    margin-top: 5%;
  }
  .code-button-container {
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .back-to-login {
    margin-left: 10%;
  }
}
// /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (max-width: 600px) {
  .login {
    width: 90%;
    height: 85%;
  }
  .leftside-login {
    width: 100%;
  }
  .login-statement {
    font-size: 1.2em;
  }
  .rightside-login {
    display: none;
  }
  .login-content {
    margin-left: 15%;
  }
  .logo {
    height: 5em;
    width: 5em;
  }
  .button-container {
    margin-right: 25%;
  }
  .sign-in-button {
    width: 5em;
  }
  .create-account {
    margin-right: 20%;
    margin-top: 5%;
  }
  .reset-container {
    width: 145%;
    height: 35vh;
    margin-left: -20%;
    padding-bottom: 15%;
  }
  .reset-header {
    font-size: 2em;
    padding-top: 10%;
    margin-left: 0px;
  }
  .reset-username-input {
    margin-top: 5%;
  }
  .code-button-container {
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .back-to-login {
    margin-left: 5%;
  }
}
// /* smartphones, Android phones, landscape iPhone */
@media only screen and (max-width: 480px) {
  .login {
    width: 90%;
    height: 85%;
  }
  .leftside-login {
    width: 100%;
  }
  .rightside-login {
    display: none;
  }
  .login-content {
    margin-left: 20%;
  }
  .logo {
    height: 5em;
    width: 5em;
  }
  .sign-in-button {
    width: 5em;
  }
  .create-account {
    margin-right: 18%;
    margin-top: 3%;
  }
  .reset-container {
    width: 95%;
    height: 55vh;
    margin-left: 5%;
  }
  .reset-header {
    font-size: 1.5em;
    padding-top: 10%;
    margin-left: 0px;
    padding-bottom: 10%;
  }
  .reset-username-input {
    margin-top: 5%;
  }
  .code-button-container {
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-right: 25%;
  }
  .send-code-button {
    width: 40vw;
  }
  .back-to-login {
    margin-left: 35%;
  }
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }
  .login {
    width: 90%;
    height: 85%;
  }
  .logo {
    height: 4em;
    width: 4em;
  }
  .leftside-login {
    width: 100%;
    font-size: 120%;
  }
  .login-statement {
    font-weight: 500;
    font-size: 1em;
    line-height: 2.5em;
  }
  .rightside-login {
    display: none;
  }
  .input {
    width: 80%;
    height: 4vh;
  }
  .login-content {
    font-size: 0.7em;
    line-height: 0.5em;
    margin-left: 15%;
  }
  .button-container {
    margin-right: 18%;
    padding-top: 5%;
    margin-top: 2%;
  }
  .sign-in-button {
    width: 6em;
    height: 6vh;
  }
  .create-account {
    text-align: center;
    margin-right: 17%;
    margin-top: 8%;
  }
  .remember-checkbox {
    display: block;
    line-height: 2em;
  }
  .reset-container {
    width: 98%;
    height: 85vh;
    margin-left: 1%;
  }
  .reset-header {
    font-size: 1.8em;
    padding-top: 10%;
    margin-left: 0px;
    line-height: 1.5em;
  }

  .code-button-container {
    margin-right: 25%;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .send-code-button {
    width: 50vw;
    height: 8vh;
  }
  .back-to-login {
    margin-left: 25%;
  }
}
