<div class="login-container">
  <div class="login" *ngIf="!isShown">
    <div class="leftside-login">
      <div class="recolude-logo">
        <img class="logo" src="../assets/logogradientcircle-transparent.svg" />
      </div>
      <h1 class="welcome">WELCOME BACK!</h1>
      <div class="login-content">
        <p class="login-statement">Sign-in to your acccount</p>

        <p class="username">Username</p>
        <input matInput class="input" />

        <p class="password">Password</p>
        <input matInput type="password" class="input" />

        <mat-checkbox class="remember-checkbox">Remember Me</mat-checkbox>

        <div class="forgot-password">
          <p>Forgot your password?</p>
          <a [routerLink]="" (click)="toggleShow()">Reset Password</a>
        </div>
        <div class="button-container">
          <button mat-button class="sign-in-button">SIGN IN</button>
        </div>
        <p class="create-account">
          No account? <a routerLink="/register">Create account</a>
        </p>
      </div>
    </div>

    <div class="rightside-login">
      <div class="image-container"></div>
    </div>
  </div>

  <!-- Reset Password Page -->
  <div *ngIf="isShown">
    <div class="reset-container">
      <div class="reset-content">
        <h1 class="reset-header">Reset your password</h1>
        <div class="reset-username-input">
          <p class="username">Username</p>
          <input matInput class="input" />
        </div>
        <div class="code-button-container">
          <button mat-button class="send-code-button">Send Code</button>
        </div>
        <a class="back-to-login" [routerLink]="" (click)="toggleShow()"
          >Back to Sign In</a
        >
      </div>
    </div>
  </div>
</div>
