/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');
  body {
    background-color: #1D1D1D;
    color: white;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 160%;
    font-size: 16px;
  }

  h1 {
    font-family: 'Bebas Neue', 'Helvetica Neue', sans-serif;
    letter-spacing: .1em;
    text-align: center;
  }

a {
    color:#0084D9;
}

button {
  color: white;
  font-family: 'Bebas Neue', 'Helvetica Neue', sans-serif;
  letter-spacing: .1em;
}



