<!-- Register Page -->
<div *ngIf="!isShown" class="register-container">
  <div class="register-contents">
    <div fxHide fxShow.gt-sm class="leftside-register">
      <div class="register-image-container"></div>
    </div>
    <div class="rightside-register">
      <h1 class="register-header">Register</h1>
      <div class="register-form">
        <p class="username">Username</p>
        <input matInput class="input" required />

        <p class="password">Password</p>
        <input matInput type="password" class="input" required />

        <p class="email">Email Address</p>
        <input matInput type="email" class="input" required />

        <p class="phone-number">Phone Number</p>
        <input
          matInput
          type="tel"
          class="input"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          required
        />
        <div class="terms-agreement">
          <mat-checkbox
            (change)="toggleEnable()"
            class="terms-checkbox"
          ></mat-checkbox>
          <div class="agreement-statement">
            <p>
              I am over 18 and agree to the
              <a [routerLink]="" (click)="toggleShow()">Terms of Service</a>
            </p>
          </div>
        </div>
        <div class="submit-button-container">
          <button
            mat-button
            [disabled]="!isEnabled"
            (click)="submit()"
            id="submit"
            class="submit-button"
          >
            Submit
          </button>
        </div>
        <div class="bottom-row">
          <p>Have an account? <a routerLink="/login">Sign in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Terms Of Service -->
<div *ngIf="isShown" class="terms-page">
  <div class="terms-container">
    <div class="terms-of-service">
      <div class="terms-heading">
        <h1>Terms of Service</h1>
      </div>
      <div class="terms-background">
        <div class="terms" [innerHtml]="termsOfService"></div>
      </div>
      <div class="action-buttons">
        <button mat-button id="accept" class="accept-button">ACCEPT</button>
        <button mat-button class="cancel-button" (click)="toggleShow()">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
