.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-contents {
  font-family: "lato", sans-serif;
  flex-direction: row;
  width: 80%;
  height: 100%;
  background: #1d1d1d;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.register-header {
  font-family: "Bebas Neue", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin-right: 15%;
}
.register-form {
  flex-direction: column;
}
.terms-agreement {
  flex-direction: row;
}
.agreement-statement {
  width: 83%;
  float: right;
  font-size: 1em;
  padding-right: 5%;
}
.input {
  background: #242424;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 10px;
  width: 85%;
  height: 2.5em;
  color: white;
  font-size: 1em;
  padding-left: 2%;
}
.input:focus {
  outline: none;
}
.terms-checkbox {
  line-height: 3.5em;
  margin-left: 2%;
}
::ng-deep .mat-checkbox-background,
.mat-checkbox-frame {
  border: 1px solid white;
  background-color: #242424;
}
::ng-deep .mat-checkbox-checkmark-path {
  stroke: white;
}
::ng-deep .mat-checkbox-background:checked {
  background-color: blue;
}
.submit-button-container {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 20%;
  margin-top: 5%;
}
.submit-button {
  width: 5em;
  height: 5%;
  border: none;
  font-size: 1.5em;
  color: white;
  letter-spacing: 0.15em;
  border-radius: 50px;
  background-color: #20a6ff;
  box-shadow: inset 0px 0px 4px #194ba8;
}
.mat-button[disabled] {
  background-color: #8ba6b8;
  box-shadow: inset 0px 0px 4px #606d86;
}
.bottom-row {
  padding-top: 10%;
  text-align: center;
  margin-right: 20%;
}
.leftside-register {
  width: 50%;
  float: left;
}
.rightside-register {
  width: 50%;
  float: right;
}
.register-image-container {
  background-image: url(../../assets/right-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 760px;
  border-radius: 10px 0px 0px 10px;
}

// Terms of Service Styling
.terms-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terms-container {
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 90%;
  justify-content: center;
}
.terms-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2%;
  text-align: center;
  justify-content: center;
  font-family: "Bebas Neue", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1em;
  h1 {
    display: flex;
    font-size: 2em;
    text-align: center;
    justify-self: center;
  }
}

.terms-of-service {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
  justify-content: center;
  justify-self: center;
  justify-items: center;
  height: 80vh;
  width: 100%;
}

.terms-background {
  display: flex;
  width: 90%;
  height: 85%;
  background-color: #2e2e2e;
  color: #c8c8c8;
  margin-left: 2%;
  font-family: "lato", sans-serif;
  margin-left: 5%;
  overflow-y: scroll;
  border-radius: 10px;
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #db015a;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
    border-radius: 0px 10px 10px 0px;
  }
}

.terms {
  margin-left: 2%;
  font-family: "lato", sans-serif;
}
.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}

.accept-button {
  border-radius: 50px;
  width: 30%;
  float: left;
  background-color: #20a6ff;
  font-size: 1.5em;
  box-shadow: inset 0px 0px 4px #194ba8;
}
.cancel-button {
  color: white;
  font-size: 1.5em;
  width: 30%;
  float: right;
  background-color: #3d3d3d;
  border-radius: 50px;
  box-shadow: inset 0px 0px 4px #2c2c2c;
}

@media only screen and (max-width: 959px) {
  .rightside-register {
    width: 100%;
  }
  .register-contents {
    padding-left: 8%;
  }
}

@media only screen and (max-width: 768px) {
  .rightside-register {
    width: 100%;
  }
  .register-contents {
    padding-left: 8%;
  }
  .nav-and-heading {
    h1 {
      font-size: 1.5em;
    }
  }
}

@media only screen and (max-width: 320px) {
  .rightside-register {
    width: 100%;
  }
  .register-contents {
    padding-left: 8%;
  }
  .terms-heading {
    h1 {
      font-size: 1.8em;
    }
  }
  .terms {
    font-size: 12px;
  }
  .accept-button {
    width: 30%;
    font-size: 1em;
  }
  .cancel-button {
    width: 30%;
    font-size: 1em;
  }
}
